/* single service style sheet */
.service-img{
    width: 300px;
    border-radius: 10px;
}
.service-container{
    background-color: gainsboro;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
}