/* banner style sheet */
.banner{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: rgb(250, 106, 81);
}
.div-one{
    display: flex;
    align-items: center;
}
.div-two h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}

.div-two{
    color: rgb(66, 48, 48);
    font-weight: 700;
    padding-bottom: 15px;
}

.img{
    opacity: 0.9;
}